section
{
	width : 50%;
	margin : auto;
	text-align: center;
}

html
{
	background: url("img/amsterdam.jpg") no-repeat;
	background-size: 100%;
}

a, p
{	
	/*margin: 4px;
	padding: 10px 0;*/
}

#ten-results
{
	border-radius: 30px;
	background-color: rgba(210, 215, 211, 0.7);
	font-size: 18px;
	width: 350px;
	margin: auto;
}

#champ-input
{
	text-align: center;
}

a:link {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    text-decoration: none;
}